@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>ForgotPassword</title>

    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/Scripts/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/Scripts/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

</head>
<body class="u-body u-xl-mode" style="background-image: url('../../images/forgot_password_background.png');">
    <table align="center">

        <h2 style="text-align:center;margin-top:20%">CHANGE PASSWORD</h2>
        @using (Html.BeginForm("SignIn", "User", FormMethod.Post, new { @class = "u-clearfix u-form-custom-backend u-form-spacing-20 u-form-vertical u-inner-form", @style = "padding: 30px;" }))
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td>Old Password:</td>
                <td>
                    @Html.TextBox("UserName", "", new { @class = "u-grey-5 u-input u-input-rectangle u-input-1" })
                </td>
            </tr>
            <tr style="height:40px">
                <td>New Password:</td>
                <td>
                    @Html.TextBox("UserName", "", new { @class = "u-grey-5 u-input u-input-rectangle u-input-1" })
                </td>
            </tr>
            <tr style="height:40px">
                <td>Confirm Password:</td>
                <td>
                    @Html.TextBox("UserName", "", new { @class = "u-grey-5 u-input u-input-rectangle u-input-1" })
                </td>
            </tr>
            <tr style="height:40px">
                <td></td>
                <td>
                    <input type="submit" value="Change" class="u-form-control-hidden">
                </td>
            </tr>
        }
    </table>
</body>
</html>

