
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="contact-agile">
    <div id="map"></div>
    <div class="faq">
        <h4 class="latest-text w3_latest_text">Contact Us</h4>
        <div class="container">
            <div class="col-md-3 location-agileinfo">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </div>
                <h3>Address</h3>
                <h4> Khu Công Nghệ cao TP.HCM,</h4>
                <h4>Phường Hiệp Phú,</h4>
                <h4>TP. Thủ Đức,</h4>
                <h4>TP.HCM</h4>
            </div>
            <div class="col-md-3 call-agileits">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                </div>
                <h3>Call</h3>
                <h4>(+84) 793 354 772</h4>
                <h4>(+84) 961 379 146</h4>
                <h4>(+84) 908 023 491</h4>
                <h4>(+84) 377 327 036</h4>
            </div>
            <div class="col-md-3 mail-wthree">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <h3>Email</h3>
                <h4><a href="#">nguyenhuy.hy1102@gmail.com</a></h4>
                <h4><a href="#">giabao12001@gmail.com</a></h4>
                <h4><a href="#">anhtrungdinh210@gmail.com</a></h4>
                <h4><a href="#">minhphm23@gmail.com</a></h4>
            </div>
            <div class="col-md-3 social-w3l">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <h3>Social media</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span class="text">Facebook</span></a></li>
                    <li class="twt"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span class="text">Twitter</span></a></li>
                    <li class="ggp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="text">Google+</span></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <form action="#" method="post">
                <input type="text" name="your name" placeholder="FIRST NAME" required="">
                <input type="text" name="your name" placeholder="LAST NAME" required="">
                <input type="text" name="your email" placeholder="EMAIL" required="">
                <input type="text" name="subject" placeholder="TITLE" required="">
                <textarea name="your message" placeholder="YOUR MESSAGE" required=""></textarea>
                <input type="submit" value="SEND MESSAGE">
            </form>
        </div>
    </div>
</div>
<!-- Map-JavaScript -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALm9hYPYm-uTTBu9B3qoty-Se71_MuXFU&callback=initMap"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', init);
    function init() {
        var mapOptions = {
            zoom: 11,
            center: new google.maps.LatLng(10.855070737407287, 106.78538262646043),
           /* styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]*/
        };
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(10.855070737407287, 106.78538262646043),
            map: map,
        });
    }
</script>
<!-- //Map-JavaScript -->
