@model IEnumerable<MovieWeb.Models.Country>
<li class="dropdown" style="border-width:0px 0.5px 0px 0px; border-style:solid; color:white">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Country <b class="caret"></b></a>

    <ul class="dropdown-menu multi-column columns-3">
        <li>
            <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="@Url.Action("PhimTheoQuocGia","Home",new { id = item.CountryID })">
                                @item.CountryName
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix"></div>
    </ul>
</li>


