
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div style="margin-left:50px; margin-top:20px; margin-right:50px; margin-bottom:20px">
    <h1 style="color:black;font-weight:bold">Privacy Statement</h1>
    <p style="font-size:18px; margin-top:15px">This Privacy Statement explains our practices, including your choices, regarding the collection, use, and disclosure of certain information, including your personal information in connection with the SinMovies service.</p>
    <h3 style="font-weight:bold; color:black; margin-top:30px">Contacting Us</h3>
    <p style="font-size:18px; margin-top:15px">
        If you have general questions about your account or how to contact customer service for assistance, please visit our online help center at
        <a href="#">help.sinmovies.com</a>.
        For questions specifically about this Privacy Statement, or our use of your personal information, cookies or similar technologies, please contact our Data Protection Officer/Privacy Office by email at
        <a href="#">privacy@sinmovies.com</a>.
    </p>
    <h3 style="font-weight:bold; color:black; margin-top:30px">Use of Information</h3>
    <p style="font-size:18px; margin-top:15px">
        We use information to provide, analyze, administer, enhance and personalize our services and marketing efforts, to manage member referrals, to process your registration, your orders and your payments, and to communicate with you on these and other topics. For example, we use such information to:
        <ul style="margin-left:40px">
            <li style="font-size:18px; margin-top:10px">
                Determine your general geographic location, provide localized content, provide you with customized and personalized viewing recommendations for movies and TV shows we think will be of interest to you, determine your ISP to support network troubleshooting for you (we also use aggregated ISP information for operational and business purposes), and help us quickly and efficiently respond to inquiries and requests;
            </li>
            <li style="font-size:18px; margin-top:10px">
                Secure our systems, prevent fraud and help us protect the security of SinMovies accounts;
            </li>
            <li style="font-size:18px; margin-top:10px">
                Coordinate with Partners on making the SinMovies service available to members and providing information to non members about the availability of the SinMovies service, based on the specific relationship you have with the Partner;
            </li>
            <li style="font-size:18px; margin-top:10px">
                Prevent, detect and investigate potentially prohibited or illegal activities, including fraud, and to enforce our terms (such as determining whether and for which SinMovies signup offers you are eligible and determining whether a particular device is permitted to use the account consistent with our Terms of Use);
            </li>
            <li style="font-size:18px; margin-top:10px">
                Communicate with you concerning our service so that we can send you news about SinMovies, details about new features and content available on SinMovies, special offers, promotional announcements, consumer surveys, and to assist you with operational requests such as password reset requests. These communications may be by various methods, such as email, push notifications, text message, online messaging channels, and matched identifier communications (described below). Please see the "Your Choices" section of this Privacy Statement to learn how to set or change your communications preferences.
            </li>
            <li style="font-size:18px; margin-top:10px">
                Analyze and understand our audience, improve our service (including our user interface experiences and service performance) and optimize content selection, recommendation algorithms and delivery;
            </li>
        </ul>
    </p>
    <p style="font-size:18px; margin-top:15px">
        Our recommendations system strives to predict what you will be in the mood to watch when you log in. However, our recommendations system does not infer or attach socio-demographic information (like gender or race) to you. We have a Help article that explains how our recommendations system works - spoilers: the biggest driver of recommendations is what you actually choose to watch through our service.
    </p>
    <h3 style="font-weight:bold; color:black; margin-top:30px">Security</h3>
    <p style="font-size:18px; margin-top:15px">
        We use reasonable administrative, logical, physical and managerial measures to safeguard your personal information against loss, theft and unauthorized access, use and modification. These measures are designed to provide a level of security appropriate to the risks of processing your personal information.
    </p>
    <h3 style="font-weight:bold; color:black; margin-top:30px">Other Websites, Platforms and Applications</h3>
    <p style="font-size:18px; margin-top:15px">
        The SinMovies service may be provided through and/or utilize features (such as voice controls) operated by third party platforms, or contain links to sites operated by third parties whose policies regarding the handling of information may differ from ours. For example, you may be able to access the SinMovies service through platforms such as gaming systems, smart TVs, mobile devices, set top boxes and a number of other Internet connected devices. These websites and platforms have separate and independent privacy or data policies, privacy statements, notices and terms of use, which we recommend you read carefully. In addition, you may encounter third party applications that interact with the SinMovies service.
    </p>
    <h3 style="font-weight:bold; color:black; margin-top:30px">Children</h3>
    <p style="font-size:18px; margin-top:15px">
        You must be at least 18 years of age or older to subscribe to the SinMovies service. Minors may only use the service with the involvement, supervision, and approval of a parent or legal guardian.
    </p>
    <h3 style="font-weight:bold; color:black; margin-top:30px">Changes to This Privacy Statement</h3>
    <p style="font-size:18px; margin-top:15px">
        We will update this Privacy Statement from time to time in response to changing legal, regulatory or operational requirements. We will provide notice of any such changes (including when they will take effect) in accordance with law. Your continued use of the SinMovies service after any such updates take effect will constitute acknowledgement and (as applicable) acceptance of those changes. If you do not wish to acknowledge or accept any updates to this Privacy Statement, you may cancel your use of the SinMovies service. To see when this Privacy Statement was last updated, please see the "Last Updated" section below.
    </p>
    <p style="font-size:18px; margin-top:15px">
    <p style="font-weight:bold;color:black">Last Updated:</p> July, 2022
    </p>
</div>


