
@foreach (var item in Model)
{
    <div class="item">
        <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="@Url.Action("Details","Home",new {id = item.MovieID})" class="hvr-shutter-out-horizontal">
                <img src="@item.MoviePicture" title="album-name" class="img-responsive" alt=" " style="width:150px;height:210px" />
                <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
                <div class="w3l-movie-text">
                    <h6><a href="@Url.Action("Details","Home",new {id = item.MovieID})">@item.MovieName</a></h6>
                </div>
            </div>
        </div>
    </div>
}

